.bars
  .day.offBar
    .midnight
    .morning
    .noon
    .afternoon
    .night
  .day.offBar
    .midnight
    .morning
    .noon
    .afternoon
    .night
  .day.offBar
    .midnight
    .morning
    .noon
    .afternoon
    .night