//web fonts
@font-face
    font-family 'open_sansregular'
    src url('../fonts/opensans_regular/OpenSans-Regular-webfont.eot')
    src url('../fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_regular/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/opensans_regular/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans_regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg')
    font-weight normal
    font-style normal
    
@font-face
    font-family 'open_sansbold'
    src url('../fonts/opensans_bold/OpenSans-Bold-webfont.eot')
    src url('../fonts/opensans_bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_bold/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/opensans_bold/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans_bold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg')
    font-weight normal
    font-style normal
    
@font-face
    font-family 'open_sanslight'
    src url('../fonts/opensans_light/OpenSans-Light-webfont.eot')
    src url('../fonts/opensans_light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_light/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/opensans_light/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/opensans_light/OpenSans-Light-webfont.svg#open_sanslight') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'open_sansitalic'
    src url('../fonts/opensans_italic/OpenSans-Italic-webfont.eot')
    src url('../fonts/opensans_italic/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_italic/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/opensans_italic/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans_italic/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg')
    font-weight normal
    font-style normal

//Icon fonts

@font-face
    font-family 'icomoon'
    src url('../fonts/icons/icomoon.eot?ep6avv')
    src url('../fonts/icons/icomoon.eot?#iefixep6avv') format('embedded-opentype'),
        url('../fonts/icons/icomoon.woff?ep6avv') format('woff'),
		url('../fonts/icons/icomoon.ttf?ep6avv') format('truetype'),
		url('../fonts/icons/icomoon.svg?ep6avv#icomoon') format('svg')
    font-weight normal
    font-style normal

[class^="icon-"], [class*=" icon-"]
    font-family 'icomoon'
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon-about
    &:before
        content "\e600"

.icon-zones
    &:before
        content "\e602"

.icon-highlight-remove
    &:before
        content "\e601"

.icon-query-builder
    &:before
        content "\e603"

.icon-search
    &:before
        content "\e605"

.icon-add-circle-outline
    &:before
        content "\e606"

.icon-brightness-1
    &:before
        content "\e607"

.icon-brightness-2
    &:before
        content "\e608"

.icon-brightness-3
    &:before
        content "\e609"

.icon-brightness-4
    &:before
        content "\e60a"

.icon-brightness-5
    &:before
        content "\e60b"

.icon-brightness-6
    &:before
        content "\e60c"

.icon-brightness-7
    &:before
        content "\e60d"

.icon-dehaze
    &:before
        content "\e60e"
 

